<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGIN</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="app">
    <form>
      <label for="username">Username</label>
      <input v-model="userName" type="text" name="username" placeholder="Username">
      <label for="password">Password</label>
      <input v-model="password" type="text" name="password" placeholder="Password">
      <button @click.prevent="logIn()">Log in</button>
    </form>
    <template v-if="loggedIn">
      <p>Congratulations! You are now logged in.</p>
    </template>
    <span v-show="tryAgain">Try again</span> 
  </div>

  <script src="https://unpkg.com/vue"></script>
  <script src="js/index.js"></script>

</body>
</html>